*{
  margin: 0%;
  box-sizing: border-box;
  
 
}
body{
  background-color: rgb(12, 12, 68);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a{
  text-decoration: none; 
  color: inherit;
}


.Navbar_container{
  height: 20px;
  width: 100%;
}

nav{
  padding-left: 15px;

}

/* ------Home styling ---- */
/* ------Home styling ---- */
/* ------Home styling ---- */


.Myintro{
  display: flex;
  flex-direction: column;
  text-align: center;
 
}
.myName{
  font-size:40px;
}

.CV{display: flex;
  flex-direction: row;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.downloadcv{
  background-color: transparent;
  border: 2px solid rgb(15, 220, 152);
  color:rgb(15, 220, 152);
  border-radius: 50px;
  width: 150px;
  height: 30px;
  
}

.downloadcv:hover{
  background-color: rgba(16, 238, 50, 0.516);
  

}




.picturesandlink {
  background-color: rgba(25, 101, 172, 0.089);
  margin: 3% 20%;
  border-radius: 50px;
  height: 600px;
  display: flex; /* Add flex display to arrange items in a row */
  align-items: center; /* Vertically align items in the center */
}

.into_socialmedia {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  font-size: 35px;
  gap: 15px;
  /* justify-content: center; */
  align-items: center;
  
}

.one,
.two,
.three {
  width: 30%;
  margin: 15px;
  text-align: center;
  
}

.three{
  /* background-color: orangered; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;


}

.home__scroll{
text-decoration: none;
color: inherit;
display: flex;
flex-direction: column;
align-items: center;
}
.home__scroll{
  writing-mode: vertical-rl;
}

.cvimage {
  height: 100%;
  width: 100%;
  padding: 5px;
  overflow: hidden; /* Use "hidden" for overflow */
  border-radius: 25px 35px;
}

/* -------About me Styling-------
  -------About me Styling-------
  -------About me Styling-------
  -------About me Styling------- */

 #About{
  margin: 10% 20% ;
  padding: 5%;
  background-color: rgba(25, 101, 172, 0.089);
  border-radius: 50px;
 }

.Aboutme{
  color: rgb(249, 165, 8);
}

.aboutsection{
  display: flex;
  flex-direction: row;
}


.Experience{
  display: flex;
  width: 40%;
  flex-direction: column;
}



.OverAllProjectDetails{
  width: 40%;
  display: flex;
  flex-direction: column;

}


/* Imported logo styling  */

.bi-person-workspace{
font-size: 40px;
}

.bi-kanban{
  font-size: 40px;
}











/* footer styling */

.footermain{
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.864);
 color: black;
  height: 200px;
  width: 100%;
  

}

.footermain h1{
  margin: 0;
  display: inline-block;
  margin: 5px;
}

.footermain a {
  text-decoration: none; 
  font-weight: bold; 
  font-size: 20px;
  margin-top: 10px;
}
.footer_socialmedia{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Adjust the space between links as needed */
  justify-content: center;
}


  .footer__social-link {
    text-decoration: none;
    color: inherit;
}
.footer__social-link i {
  font-size: 30px; /* Adjust the size as needed */
}

