*{
  margin: 0%;
  
 
}
body{
  background-color: rgb(5, 5, 36);
  color: white;
  display: flex;
  flex-direction: column;

}
.Navbar_container{
  height: 20px;
  width: 100%;
}

nav{
  padding-left: 15px;

}






/* footer styling */

.footermain{
  position:absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.864);
 color: black;
  height: 200px;
  width: 100%;

}

.footermain h1{
  margin: 0;
  display: inline-block;
  margin: 5px;
}

.footermain a {
  text-decoration: none; 
  font-weight: bold; 
  font-size: 20px;
  margin-top: 10px;
}
.footer_socialmedia{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Adjust the space between links as needed */
  justify-content: center;
}


  .footer__social-link {
    text-decoration: none;
    color: inherit;
}
.footer__social-link i {
  font-size: 30px; /* Adjust the size as needed */
}